:root {
	--dark-bg: #171717;
	--dark-secondary-bg: #202123;
	--dark-border: #565869;
	--dark-lighter-border: #323232;
	--dark-input-bg: #2f2f2f;
	--light-bg: #ffffff;
	--light-input-bg: #f7f7f8;
	--btn-purple: #8c00a9;
	--btn-blue: #2F19B5;
	--offwhite: #f5f5f5;
	--light-grey: #ececf3;
	--placeholder-grey: #b4b4b4;
	--link-teal: #03ECFD;
}

/******
****
General Setup
****
*******/

#aipv-admin-view {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

#aipv-admin-view * {
	box-sizing: border-box;
}

/******
****
Header
****
*******/
#aipv-admin-view .aipv-header {
	height: fit-content;
	position: relative;
	display: flex;
}

#aipv-admin-view .aipv-header .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#aipv-admin-view .aipv-header .content .logo {
	width: 70px;
}

#aipv-admin-view .aipv-header .content .logo img {
	width: 100%;
	height: auto;
	transition: filter 0.2s ease-in-out;
}

#aipv-admin-view .aipv-header .content h1 {

	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 1.4;
	text-transform: uppercase;
	color: var(--light-bg);
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .aipv-header .sizer {
	width: 100%;
	height: auto;
	z-index: -1;
	transition: filter 0.2s ease-in-out;
}

/******
****
Sidebar
****
*******/
#aipv-admin-view .content-area {
	display: flex;
	background: var(--dark-bg);
	transition: background-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	background: var(--dark-bg);
	position: sticky;
	top: 2rem;
	height: fit-content;
	transition: background-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar .mode-toggle {
	display: flex;
	justify-content: center;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--dark-secondary-bg);
	transition: border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar .mode-toggle .mode {
	display: flex;
    height: fit-content;
	border: 1px solid var(--dark-secondary-bg);
	padding: 0.5rem;
	opacity: 0.7;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar .mode-toggle .mode.light {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#aipv-admin-view .content-area .sidebar .mode-toggle .mode.light.active {
	opacity: 1;
	background: var(--light-bg);
}

#aipv-admin-view .content-area .sidebar .mode-toggle .mode.dark {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#aipv-admin-view .content-area .sidebar .mode-toggle .mode.dark.active {
	background: var(--dark-secondary-bg);
	opacity: 1;
}

#aipv-admin-view .content-area .sidebar .mode-toggle .mode svg {
	fill: var(--light-bg);
	transition: fill 0.2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100px;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar .item .icon, 
#aipv-admin-view .content-area .sidebar .item .name {
	opacity: 0.7;
}

#aipv-admin-view .content-area .sidebar .item.active {
	background: var(--dark-secondary-bg)!important;
}

#aipv-admin-view .content-area .sidebar .item.active .icon, 
#aipv-admin-view .content-area .sidebar .item.active .name,
#aipv-admin-view .content-area .sidebar .item:hover .icon, 
#aipv-admin-view .content-area .sidebar .item:hover .name {
	opacity: 1;
}

#aipv-admin-view .content-area .sidebar .item.posts .icon {
	padding: 3px;
}

#aipv-admin-view .content-area .sidebar .item .icon {
	width: 35px;
	height: 35px;
	display: flex;
	align-self: center;
	margin-bottom: 0.5rem;
}

#aipv-admin-view .content-area .sidebar .item .icon img {
	width: 100%;
	height: 100%;
	transition: filter .2s ease-in-out;
}

#aipv-admin-view .content-area .sidebar .name {
	font-weight: 400;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	color: var(--light-bg);
	transition: color .2s ease-in-out;
}


/******
****
Template setup
****
*******/
#aipv-admin-view .content-area .main-content {
	width: calc(100% - 100px);
	flex: 1;
}

#aipv-admin-view .content-area .main-content .template {
	display: none;
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	background: var(--dark-secondary-bg);
	transition: background-color .2s ease-in-out;
}

/******
****
Posts tab
****
*******/

#aipv-admin-view .content-area .main-content .template.active.template-posts {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section {
	width: 100%;
	padding: 3rem;
	box-sizing: border-box;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .filters .search-bar {
	position: relative;
	margin-bottom: 1rem;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .filters .search-bar .search-input {
	padding-left: 2.5rem;
	color: var(--light-bg);
	margin-top: 0;
	border-radius: 20px;
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .filters .search-bar .icon {
	position: absolute;
	top: 0;
	left: 1rem;
	width: 14px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .filters .search-bar .icon img {
	width: 100%;
	transition: filter 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	margin-bottom: 3rem;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown {
	width: 250px;
	position: relative;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .title {
	z-index: 11;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: var(--light-bg);
	position: relative;
	cursor: pointer;
	background: var(--dark-input-bg);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--dark-border);
	transition: all 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .title:after {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	right: 1rem;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: var(--light-bg);
	transform: translateY(-50%) rotate(-45deg);
	transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown.active .title:after {
	transform: translateY(-50%) rotate(-225deg);
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown.active .types {
	top: 100%;
    opacity: 1;
	top: calc(100% - 6px);
	pointer-events: visible;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .types {
	position: absolute;
    width: 100%;
    z-index: 10;
    background: var(--dark-input-bg);
    padding: 1rem;
    border: 1px solid var(--dark-border);
    border-top: unset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	top: calc(100% + 20px);
	left: 0;
    opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .types-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .type-block {
	background: var(--dark-input-bg);
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: var(--light-bg);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	padding: 0.75rem 0;
	border-radius: 8px;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .type-block.active {
	background-color: var(--btn-purple)!important;
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .type-block:hover {
	background-color: rgba(140,0,169,0.25);
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .filter-reset {
	align-self: center;
    cursor: pointer;
	color: var(--light-bg);
}

#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .filter-reset:after {
	background-color: var(--light-bg);
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	align-content: flex-start;
	gap: 2rem;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .no-results {
	font-weight: 600;
	font-size: 22px;
	line-height: 1;
	color: var(--light-bg);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: calc((100% * (1/3)) - (2rem * (2/3)));
	width: 100%;
	cursor: pointer;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .image {
	width: 100%;
	height: 190px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card:hover .image {
	opacity: 1;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .image .missing-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .image .missing-image .icon {
	width: 34px;
	display: flex;
	margin-bottom: 0.5rem;
	height: fit-content;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .image .missing-image .icon img {
	width: 100%;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .image .missing-image .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: var(--light-bg);
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 2rem;
	padding: 1rem;
	border: 1px solid var(--dark-input-bg);
	border-top: none;
	flex-grow: 1;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	transition: border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .post-type {
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	color: var(--light-bg);
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	background: var(--btn-purple);
	width: fit-content;
	padding: 0.25rem 0.35rem;
	border-radius: 5px;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .text {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: var(--light-bg);
	word-break: break-word;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	max-height: 96px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	margin-bottom: 2rem;
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .btn {
	width: 175px;
	font-size: 11.75px;
	margin-top: auto;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .btn span {
	z-index: 2;
	padding-right: 1rem;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .btn span:after {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	right: 0.25rem;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: var(--light-bg);
	transform: translateY(-50%) rotate(-135deg);
	transition: transform 0.2s ease-in-out, right 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--btn-blue);
	z-index: 0;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--btn-purple);
	z-index: 1;
	transition: left 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card:hover .card-title .btn:after {
	left: 0;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card:hover .card-title .btn span:after {
	right: 0;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .load-more {
	background: var(--btn-purple);
	cursor: pointer;
	width: 175px;
	height: 37.5px;
	border-radius: 8px;
	font-weight: 400;
	font-size: 14px;
	line-height: .78;
	text-transform: uppercase;
	color: var(--light-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto 3rem;
	transition: background-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .load-more .load-more-text.loading {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .load-more .rc-loader {
	height: 35px;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .load-more .rc-loader div {
	top: 11px;
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .load-more:hover {
	background: var(--btn-purple);
}

#aipv-admin-view .content-area .main-content .template-posts .posts-section .load-more.hidden {
	display: none;
}

/******
****
Generate tab
****
*******/
#aipv-admin-view .content-area .main-content .template-generate.active {
	display: flex;
	align-items: flex-start;
	gap: 3rem;
	padding: 3rem;
}

#aipv-admin-view .content-area .main-content .template-generate .settings {
	flex-shrink: 0;
}

#aipv-admin-view .content-area .main-content .template-generate .back-to-posts {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--light-bg);
	display: none;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	margin-left: .25rem;
	margin-bottom: 1rem;
	transition: margin-left 0.2s ease-in-out, color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .back-to-posts span {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: var(--light-bg);
	transform: rotate(45deg);
	transition: border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .back-to-posts:hover {
	margin-left: 0;
}

#aipv-admin-view .content-area .main-content .template-generate h2 {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured {
	display: none;
	flex-direction: column;
	margin-bottom: 2rem;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .featured-img {
	width: 210px;
	height: 210px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .featured-img .missing-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .featured-img .missing-image .icon {
	width: 34px;
	display: flex;
	margin-bottom: 0.5rem;
	height: fit-content;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .featured-img .missing-image .icon img {
	width: 100%;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .featured-img .missing-image .text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	color: var(--light-bg);
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .revert-to-original {
	display: block;
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	color: var(--light-bg);
	text-transform: uppercase;
	background: var(--btn-purple);
	width: fit-content;
	padding: 0.35rem 0.5rem;
	cursor: pointer;
	margin-top: 0.5rem;
}

#aipv-admin-view .content-area .main-content .template-generate .current-featured .revert-to-original.hidden {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate.for-post .back-to-posts {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-generate.for-post h2 {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-generate.for-post .current-featured {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-generate .keyword-search {
	position: relative;
}

#aipv-admin-view .content-area .main-content .template-generate .keyword-search .keyword-input {
	padding-left: 2.5rem;
}

#aipv-admin-view .content-area .main-content .template-generate .keyword-search .icon {
	position: absolute;
	top: 0;
	left: 1rem;
	width: 14px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
}

#aipv-admin-view .content-area .main-content .template-generate .keyword-search .icon img {
	width: 100%;
	transition: filter 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .cost {
	margin-bottom: 1rem;
}

#aipv-admin-view .content-area .main-content .template-generate .cost .text {
	margin-bottom: 1rem;
}

#aipv-admin-view .content-area .main-content .template-generate .cost .breakdown {
	background: var(--dark-lighter-border);
	border-radius: 6px;
	padding: 1rem;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	transition: background-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .cost .breakdown div {
	font-size: 14px;
	color: var(--offwhite);
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .cost .breakdown div span {
	font-weight: 600;
}

#aipv-admin-view .content-area .main-content .template-generate .render.btn {
	width: 175px;
	font-size: 14px;
    height: 37.5px;
	transition: opacity 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .render.btn.disabled {
	pointer-events: none;
	opacity: 0.7;
}

#aipv-admin-view .content-area .main-content .template-generate .render.btn.disabled:before, 
#aipv-admin-view .content-area .main-content .template-generate .render.btn.disabled span {
	opacity: 0.7;
}

#aipv-admin-view .content-area .main-content .template-generate .history {
	width: 100%;
	height: fit-content;
	border-radius: 10px;
	border-radius: 10px;
	border: 1px solid var(--dark-border);
	transition: border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .history .title {
	display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	transition: border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .history .title.no-history {
	border-bottom: 0;
}

#aipv-admin-view .content-area .main-content .template-generate .history .title.no-history .icon {
	border-bottom-left-radius: 9px;
}

#aipv-admin-view .content-area .main-content .template-generate .history .title .icon {
	width: 50px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--btn-blue);
	margin-right: 1rem;
	border-top-left-radius: 9px;
}

#aipv-admin-view .content-area .main-content .template-generate .history .title .icon img {
	width: 24px;
	height: 24px;
}

#aipv-admin-view .content-area .main-content .template-generate .history .title .text {
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	color: var(--light-bg);
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows {
	position: relative;
	overflow: auto;
	max-height: calc(100vh - 6rem + 46px);
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row {
	position: relative;
	padding: 1rem;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row:not(:first-of-type) {
	border-top: 1px solid var(--dark-lighter-border);
	transition: border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row .row-images {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row .row-images .row-image {
	aspect-ratio: 1;
    width: calc(25% - (0.5rem * (3 / 4)));
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row .row-images .row-image .remaining {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,6, 0.75);
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	color: var(--light-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row-prompt {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	overflow: hidden;
    max-height: 54px;
	color: var(--light-bg);
	margin-bottom: 0.75rem;
	transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row-prompt.opened {
    max-height: unset;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row-prompt.load-more-text {
    cursor: pointer;
	opacity: 0.7;
    display: inline-flex;
}

#aipv-admin-view .content-area .main-content .template-generate .history .history-rows .history-row-prompt.load-more-text:hover {
    color: var(--link-teal);
	opacity: 1;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images {
	display: none;
	flex-wrap: wrap;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images.loaded {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images h3 {
	margin-top: 3rem;
	width: 100%;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .images-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 210px;
	width: 100%;
	cursor: pointer;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .image {
	width: 210px;
	height: 210px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	height: 30px;
	border: 1px solid var(--dark-lighter-border);
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: .055em;
	transition: all 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate.for-post .rendered-images .post-card .set-image {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image .plus {
	display: flex;
	height: fit-content;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image .plus img {
	width: 10px;
	height: 10px;
	transition: filter 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image.current .plus,
#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image.current .set-text {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image .current-text {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image.current .current-text {
	display: flex;
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image:hover {
	background: var(--btn-purple);
	border-color: var(--btn-purple);
	color: var(--light-bg);
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn {
	pointer-events: none;
	overflow: visible;
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn:before {
	background: var(--dark-lighter-border);
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn:after {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate.validated .render.btn .sign-up-text {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text {
	position: absolute;
    left: 100%;
    text-transform: none;
    width: fit-content;
    font-size: 13px;
    white-space: nowrap;
    margin-left: 1rem;
	pointer-events: visible;
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .sign-up-text.mobile {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text div {
	color: var(--link-teal);
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text div:after {
	content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--link-teal);
    transition: width .2s ease-in-out, color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text div:hover:after {
	width: 100%;
}

/******
****
Settings tab
****
*******/
#aipv-admin-view .content-area .main-content .template-settings {
	padding: 3rem;
}

#aipv-admin-view .content-area .main-content .template.active.template-settings {
	display: block;
}

#aipv-admin-view .content-area .main-content .template-settings .settings {
	width: 100%;
}

#aipv-admin-view .content-area .main-content .template-settings .settings h3:not(:first-of-type) {
	margin-top: 3rem;
}

#aipv-admin-view .content-area .main-content .template-settings .plans {
	display: flex;
	gap: 2rem;
	margin-top: 3rem;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan {
	border: 2px solid var(--btn-blue);
	border-radius: 5px;
	padding: 1.5rem;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan h4 {
	margin: 0 0 1rem;
	font-weight: 700;
	font-size: 26px;
	line-height: 1;
	text-transform: capitalize;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan .plan-description {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan ul {
	margin: 1rem 0;
	padding: 1rem 0;
	border-top: 1px solid rgba(217, 217, 217, 0.25);
	border-bottom: 1px solid rgba(217, 217, 217, 0.25);
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan ul li {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan ul li:not(:first-of-type) {
	margin-top: 1rem;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan .plan-price div {
	font-weight: 700;
	font-size: 32px;
	line-height: 1;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan .plan-price span {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
    display: block;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan .select-plan {
	width: 100%;
	background: transparent;
	border: 2px solid var(--btn-blue);
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	text-transform: capitalize;
	padding: 0.75rem 0;
	margin-top: 1rem;
    text-align: center;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-settings .plans .plan .select-plan:hover {
	background: var(--btn-blue);
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-button {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 26px;
	margin-top: 1rem;
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-input {
	display: none;
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-label {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid var(--dark-border);
	border-radius: 50px;
	position: relative;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-circle {
	position: absolute;
	top: 2px;
	left: 3px;
	width: 20px;
	height: 20px;
	background-color: var(--light-bg);
	border-radius: 50%;
	transition: transform 0.2s ease;
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-input:checked + .toggle-label {
	background-color: var(--btn-blue);
	border-color: var(--btn-blue);
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-input:checked + .toggle-label .toggle-circle {
	transform: translateX(23px);
}
  

/******
****
General Settings styles
****
*******/
#aipv-admin-view .content-area .main-content .settings {
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	color: var(--light-bg);
	width: calc(100% - 350px - 6rem);
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .settings .setting {
	margin-bottom: 1rem;
}

#aipv-admin-view .content-area .main-content .settings .setting .label {
	line-height: 1.3;
}

#aipv-admin-view .content-area .main-content h2 {
	font-weight: 700;
	font-size: 42px;
	margin: 0 0 2rem;
	color: var(--light-bg);
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content h3 {
	font-weight: 700;
	font-size: 28px;
	margin: 0 0 1rem;
	color: var(--light-bg);
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content a {
	color: var(--link-teal);
	position: relative;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content a:hover {
	color: var(--link-teal);
}

#aipv-admin-view .content-area .main-content a:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--link-teal);
	transition: width .2s ease-in-out, color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content a:hover:after {
	width: 100%;
}

#aipv-admin-view .content-area .main-content .tooltip {
	position: relative;
	width: 17px;
	height: 16px;
	background: var(--dark-input-bg);
	border-radius: 100%;
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .tooltip span {
	font-size: 10px;
}

#aipv-admin-view .content-area .main-content .tooltip span:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 100%;
}

#aipv-admin-view .content-area .main-content .tooltip .tooltip-description {
	position: absolute;
	top: calc(100% + 0.75rem);
	left: -1rem;
	padding: 1rem;
	width: fit-content;
	background: var(--dark-input-bg);
	cursor: default;
	font-size: 15px;
	line-height: 20px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity .2s ease-in-out;
	z-index: 10;
    border-radius: 8px;
	border: 2px solid var(--dark-secondary-bg);
}

#aipv-admin-view .content-area .main-content .tooltip .tooltip-description:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	left: 1.2rem;
	top: -6px;
	background: var(--dark-lighter-border);
	transform: rotate(-45deg);
	border-right: 2px solid var(--dark-secondary-bg);
    border-top: 2px solid var(--dark-secondary-bg);
}

#aipv-admin-view .content-area .main-content .tooltip:hover .tooltip-description {
	opacity: 1;
	visibility: visible;
	pointer-events: visible;
}

#aipv-admin-view .content-area .main-content input,
#aipv-admin-view .content-area .main-content select {
	width: 100%;
	height: 42px;
	background: var(--dark-input-bg);
	border: 1px solid var(--dark-border);
	padding: 0.75rem 1rem 0.7rem;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	color: var(--light-bg);
	margin-top: 1rem;
	border-radius: 3px;
	max-width: unset;
	transition: all 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content input::-webkit-input-placeholder,
#aipv-admin-view .content-area .main-content select::-webkit-input-placeholder {
	color: var(--placeholder-grey);
}

#aipv-admin-view .content-area .main-content select {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
}

#aipv-admin-view .content-area .main-content select:after {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: calc(50% + .5rem);
	right: 1rem;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: var(--light-bg);
	transform: translateY(-50%) rotate(-45deg);
	transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .btn {
	background: transparent;
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--light-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 35px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

#aipv-admin-view .content-area .main-content .btn span {
	position: relative;
	z-index: 2;
}

#aipv-admin-view .content-area .main-content .btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--btn-blue);
	z-index: 0;
}

#aipv-admin-view .content-area .main-content .btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--btn-purple);
	z-index: 1;
	transition: left 0.2s ease-in-out;
}

#aipv-admin-view .content-area .main-content .btn:hover:after {
	left: 0;
}

#aipv-admin-view .rc-loader {
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
	margin: auto;
}

#aipv-admin-view .rc-loader.loading {
	display: inline-block;
}

#aipv-admin-view .rc-loader div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--light-bg);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#aipv-admin-view .rc-loader div:nth-child(1) {
	left: 8px;
	animation: rcloader1 0.6s infinite;
}

#aipv-admin-view .rc-loader div:nth-child(2) {
	left: 8px;
	animation: rcloader2 0.6s infinite;
}

#aipv-admin-view .rc-loader div:nth-child(3) {
	left: 32px;
	animation: rcloader2 0.6s infinite;
}

#aipv-admin-view .rc-loader div:nth-child(4) {
	left: 56px;
	animation: rcloader3 0.6s infinite;
}

/******
****
Animations
****
*******/
@keyframes rcloader1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes rcloader2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}
@keyframes rcloader3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

/******
****
Mobile styles
****
*******/

@media screen and (max-width: 1200px) {
	#aipv-admin-view .aipv-header .content h1 {
		font-size: 50px;
		margin: 1rem 0;
	}
	#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper {
		justify-content: center;
		padding: 0;
		padding-top: 2rem;
	}
	#aipv-admin-view .content-area .main-content .template.template-generate {
		flex-wrap: wrap;
	}
	#aipv-admin-view .content-area .main-content .settings {
		flex-grow: 1;
		width: 100%;
		margin-bottom: 3rem;
	}
	#aipv-admin-view .content-area .main-content .template-generate .history {
		margin-left: 0;
		flex-grow: 1;
		width: 100%;
		padding-right: 0;
		overflow: unset;
		height: unset!important;
	}
	#aipv-admin-view .content-area .main-content .template.template-posts {
		flex-wrap: wrap;
	}	
	#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown {
		width: 100%;
	}
	#aipv-admin-view .content-area .main-content .template-posts .filters .dropdowns .dropdown.active .types {
		z-index: 12;
	}
	#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card {
		max-width: calc(50% - 1rem);
	}
}

@media screen and (max-width: 850px) {
	#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper {
		padding-top: 1rem;
		gap: 1rem;
	}
	#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card {
		max-width: unset;
		width: calc(50% - 1.5rem);
	}
	#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .image {
		width: 100%;
	}
}

@media screen and (max-width: 782px) {
	#aipv-admin-view {
		padding-right: 10px;
	}
}

@media screen and (max-width: 640px) {
	#aipv-admin-view .content-area .main-content .template-posts .posts-section {
		padding: 2rem;
	}
	#aipv-admin-view .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card {
		width: 100%;
		max-width: 100%;
	}
	#aipv-admin-view .content-area .main-content .template.template-generate {
		padding: 2rem;
	}
	#aipv-admin-view .aipv-header .content h1 {
		font-size: 25px;
		margin: 0.5rem 0;
	}
	#aipv-admin-view .aipv-header .content .logo {
		width: 50px;
	}
	#aipv-admin-view .content-area .main-content .template-generate .settings-wrapper {
		padding: 0;
	}
	#aipv-admin-view .content-area .main-content .template-generate .back-to-posts {
		font-size: 14px;
	}
	#aipv-admin-view .content-area .main-content .template-generate .back-to-posts span {
		width: 6px;
		height: 6px;
	}
	#aipv-admin-view .content-area .main-content .template-generate h2 {
		font-size: 22px;
	}
	#aipv-admin-view .content-area .main-content .settings {
		font-size: 15px;
	}
	#aipv-admin-view .content-area .main-content .template-generate .current-featured .featured-img {
		width: 100%;
		height: 170px;
	}
	#aipv-admin-view .content-area .main-content h3 {
		font-size: 22px;
	}
	#aipv-admin-view .content-area .main-content .template-generate .history .title .text {
		font-size: 16px;
	}
	#aipv-admin-view .content-area .main-content .settings .setting input,
	#aipv-admin-view .content-area .main-content .settings .setting select {
		font-size: 16px;
		width: 100%!important;
	}
	#aipv-admin-view .content-area .main-content .settings .setting .resolution-select {
		width: 100%;
	}
	#aipv-admin-view .content-area .main-content .template-generate .rendered-images .images-wrapper {
		width: 100%;
		justify-content: center;
	}
	#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .image {
		width: 100%;
		height: 170px;
	}
	#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image {
		font-size: 11px;
	}
	#aipv-admin-view .content-area .main-content .template-generate .cost .breakdown {
		width: 100%;
	}
	#aipv-admin-view .content-area .main-content .template-generate .render.btn {
		width: 100%;
	}
	#aipv-admin-view .content-area .main-content .template-generate .render.btn .sign-up-text {
		display: none;
	}
	#aipv-admin-view .content-area .main-content .template-generate .sign-up-text.mobile {
		width: 100%;
		display: block;
		margin-top: 1rem;
	}
	#aipv-admin-view .content-area .main-content .template.template-settings {
		padding: 2rem;
	}
}

/******
****
Light Mode
****
*******/
#aipv-admin-view.light .aipv-header .content .logo img {
	filter: invert(100);
}

#aipv-admin-view.light .aipv-header .content h1 {
	color: var(--dark-bg);
}

#aipv-admin-view.light .aipv-header .sizer {
    filter: invert(100);
}

#aipv-admin-view.light .content-area {
	background: var(--offwhite);
}

#aipv-admin-view.light .content-area .sidebar {
	background: var(--offwhite);
}

#aipv-admin-view.light .content-area .sidebar .mode-toggle {
	border-color: var(--light-bg);
}

#aipv-admin-view.light .content-area .sidebar .mode-toggle .mode {
	border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .sidebar .mode-toggle .mode.dark {
	background: var(--light-grey);
}

#aipv-admin-view.light .content-area .sidebar .mode-toggle .mode svg {
	fill: var(--dark-bg);
}

#aipv-admin-view.light .content-area .sidebar .item.active {
	background: var(--light-bg)!important;
}

#aipv-admin-view.light .content-area .sidebar .item .icon img {
	filter: invert(100);
	transition: filter .2s ease-in-out;
}

#aipv-admin-view.light .content-area .sidebar .name {
	color: var(--dark-bg);
	transition: color .2s ease-in-out;
}

#aipv-admin-view.light .content-area .main-content .template {
	background: var(--light-bg);
}

#aipv-admin-view.light .content-area .main-content .settings {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content h2 {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content h3 {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content a {
	color: var(--btn-purple);
}

#aipv-admin-view.light .content-area .main-content a:hover {
	color: var(--btn-purple);
}

#aipv-admin-view.light .content-area .main-content a:after {
	background-color: var(--btn-purple);
}

#aipv-admin-view.light .content-area .main-content .tooltip {
	background: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .tooltip .tooltip-description {
	background: var(--light-grey);
	border-color: var(--light-bg);
}

#aipv-admin-view.light .content-area .main-content .tooltip .tooltip-description:after {
	background: var(--light-grey);
	border-color: var(--light-bg);
}

#aipv-admin-view.light .content-area .main-content input,
#aipv-admin-view.light .content-area .main-content select {
	background: var(--light-input-bg);
	border-color: var(--light-grey);
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content select:after {
	border-color: var(--light-grey);
}

#aipv-admin-view.light .rc-loader div {
	background: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-posts .posts-section .filters .search-bar .search-input {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-posts .posts-section .filters .search-bar .icon img {
	filter: invert(100);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .dropdown .title {
	color: var(--dark-bg);
	background: var(--light-bg);
    border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .dropdown .title:after {
	border-color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .dropdown .types {
    background: var(--light-bg);
    border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .type-block {
	background: transparent;
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .type-block.active {
	background-color: var(--btn-purple)!important;
	color: var(--light-bg);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .dropdown .types .type-block:hover {
	background-color: rgba(140,0,169,0.25);
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .filter-reset {
	color: var(--dark-bg)!important;
}

#aipv-admin-view.light .content-area .main-content .template-posts .filters .dropdowns .filter-reset:after {
	background-color: var(--dark-bg)!important;
}

#aipv-admin-view.light .content-area .main-content .template-posts .posts-section .posts-wrapper .no-results {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title {
	border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-posts .posts-section .posts-wrapper .post-card .card-title .text {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .back-to-posts {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .back-to-posts span {
	border-color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .keyword-search .icon img {
	filter: invert(100);
}

#aipv-admin-view.light .content-area .main-content .template-generate .cost .breakdown {
	background: var(--light-input-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .cost .breakdown div {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .history {
	border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-generate .history .title {
	border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-generate .history .title .text {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .history .history-rows .history-row:not(:first-of-type) {
	border-color: var(--light-grey);
}

#aipv-admin-view.light .content-area .main-content .template-generate .history .history-rows .history-row-prompt {
	color: var(--dark-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate .rendered-images .post-card .set-image .plus img {
	filter: invert(100);
}

#aipv-admin-view .content-area .main-content .template-generate .rendered-images .post-card .set-image:hover .plus img {
	filter: unset;
}

#aipv-admin-view.light .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text {
	color: var(--dark-secondary-bg);
}

#aipv-admin-view.light .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text div {
	color: var(--btn-purple);
}

#aipv-admin-view.light .content-area .main-content .template-generate.not-validated .render.btn .sign-up-text div:after {
    background-color: var(--btn-purple);
}

#aipv-admin-view.light .content-area .main-content .template-settings .toggle-circle {
	background: var(--dark-border);
}

#aipv-admin-view .content-area .main-content .template-settings .toggle-input:checked + .toggle-label .toggle-circle {
	background: var(--light-bg);
}